#projeto-gil {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    flex-direction: column;
    /* Garante que os itens fiquem em coluna */
    height: 100vh;
    /* Define a altura da seção como 100% da altura da viewport */
}

::selection {
    background-color: rgba(224, 224, 224, 0.9);
}

/* Estilo da barra de rolagem no Chrome, Safari e Opera */
::-webkit-scrollbar {
    width: 0.8rem;
    height: auto;
}

/* Estilo da parte de fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: white;
    /* Cor do fundo da barra */
}

/* Estilo do "polegar" da barra de rolagem */
::-webkit-scrollbar-thumb {
    background: rgba(39, 39, 39, 1);
    border-radius: 0.2rem;
    cursor: pointer;
}

/* Cor do polegar ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;

}

body {
    font-family: 'Helvetica Now Display';
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-x: hidden;
    transition: background-color 0.5s, color 0.5s;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 3rem;

    line-break: auto;
    overflow-wrap: initial;
    caret-color: rgba(39, 39, 39, 1);
    text-decoration: none;
    letter-spacing: 0px;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.nav-center {
    flex-grow: 1;
    text-align: center;
}

.nav-right {
    position: absolute;
    text-align: right;
    left: 91.6vw;
}

nav a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.circles {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 1.3rem;
}

.circle {
    position: absolute;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    /* Garante que o círculo fique acima da onda */
}

.transition {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    transform: scale(0);
    transition: transform 0.5s ease;
    /* Suaviza a transição */
    z-index: 100;
    /* Garante que a animação fique acima do conteúdo */
}

/* Estado ativo da animação */
.transition.active {
    transform: scale(10);
    /* Aumenta o tamanho do círculo */
}

.circle.black {
    background-color: black;
    left: -20%;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid white;
}

.circle.white {
    background-color: white;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}

.work-info {
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
}

.work-info h2 {
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 0;
    font-size: 2.6rem;
    text-align: left;
    font-weight: 300;
    line-height: 2rem;
}

.work-info .tags {
    display: flex;
    gap: 1rem;
    /* Espaçamento entre os "botões" */
}

.work-info p {
    z-index: 2;
    font-size: 1.5rem;
    padding: 0.4rem 1rem;
    border: 1px solid white;
    border-radius: 0.5rem;
    white-space: nowrap;
}

.work-card {
    display: block;
    text-decoration: none;
    color: black;
    border-radius: 2rem;
    overflow: hidden;
    width: 95vw;
    height: 82vh;
    position: relative;
    margin: 1rem;
    margin-top: -4rem;
}

.work-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.082), rgba(0, 0, 0, 0.267));
    z-index: 1;
}

.sobre {
    width: 95vw;
    margin-left: 1.9rem;
    font-size: 2rem;
    text-align: left;
    font-weight: 300;
    margin-top: -6rem;
}

.work-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: relative;
    z-index: 0;
}

.next-work {
    text-align: left;
    margin-top: 2rem;
}

.next-work {
    text-align: left;
    margin-top: 2rem;
    cursor: pointer;
}

.next-work h2 {
    font-size: 1.8rem;
    margin-left: 1.9rem;
}

.next-work-card {
    display: flex;
    margin: 0 auto;
    width: 95vw;
    border-radius: 1rem;
    overflow: hidden;
    background-color: rgb(22, 1, 138);
    position: relative;
    padding: 1rem;
}

.next-work-card img {
    width: 6rem;
    height: auto;
    margin-right: 1rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin-left: 2rem;
}

.next-work-info {
    flex: 1;
    padding: 1rem;
}

.next-work-info h3 {
    font-size: 2rem;
    margin: 0;
    position: relative;
    top: 0.5rem;
    color: #fff;
}

#descricao {
    padding: 2rem;
}

.content-block {
    display: flex;
    align-items: flex-start; 
    justify-content: space-between; 
    margin: 0 auto; 
}

.content-block h1 {
    flex: 1; 
    margin-right: 2rem; 
    text-align: left; 
}

.text-container {
    flex: 1; 
    text-align: justify;
    font-size: 1.2rem;
}

.image-container {
    display: flex;
    flex-direction: column; 
    padding: 2rem 2rem 26rem;
}

.image-container img {
    width: 96vw;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.copyright {
    background-color: #161616;
    color: white;
    text-align: center;
    padding: 2rem 0;
    font-size: 1.2rem;
    position: relative;
    margin-top: 2rem;
    overflow: hidden; /* Garante que o conteúdo não ultrapasse */
    width: 100vw;
}

.copyright p {
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 700;
    white-space: nowrap; /* Evita quebras de linha inesperadas */
    text-overflow: ellipsis; /* Adiciona "..." se o texto for muito longo */
}
