body {
    font-family: 'Helvetica Now Display';
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 3rem;

    color: rgba(39, 39, 39, 1);
    text-transform: none;

    line-break: auto;
    overflow-wrap: initial;
    caret-color: rgba(39, 39, 39, 1);
    text-decoration: none;
    letter-spacing: 0px;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
}

.linha {
    position: absolute;
    top: 5rem;
    left: 50%;
    width: 95rem;
    height: 1.5rem;
    background: #272727;
    transform: translateX(-50%);
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.circles {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 1.3rem;
}

.circle {
    position: absolute;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    cursor: pointer;
}

.circle.black {
    background-color: black;
    left: -20%;
    top: 50%;
    transform: translateY(-50%);
}

.circle.white {
    background-color: white;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}

main h1 {
    width: 84%;
    margin-left: 2.5rem;
    margin-top: 9rem;

    position: relative;
    text-transform: none;
    line-break: auto;
    overflow-wrap: initial;
    color: rgba(39, 39, 39, 1);
    text-decoration: none;
    font-size: 7rem;
    font-style: normal;
    font-weight: 900;
    text-align: left;
    line-height: 7.5rem;
}

.carousel-container {
    width: 100%;
    margin-top: 14%;
    margin-bottom: 1%;
    box-sizing: border-box;
}

.swiper-container {
    width: 100%;
    padding: 0;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -4%;
    box-sizing: border-box;
}

.swiper-slide:last-child {
    margin-right: 0;
}

/* área de informações */
.work-info {
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
    padding: 2.5rem;
    box-sizing: border-box;

}

.work-info h2 {
    margin: 0;
    font-size: 1.8rem;
    text-align: left;
    font-weight: 300;
    line-height: 2rem;
}

.work-info p {
    margin: 2px 0 0;
    font-size: 12px;

}

/* espaçamento inferior dos cards */
.work-card {
    display: block;
    text-decoration: none;
    color: black;
    border-radius: 2rem;
    overflow: hidden;
    width: 26rem;
    height: 42rem;
    position: relative;
}

.work-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.swiper-button-next,
.swiper-button-prev {
    color: rgb(0, 0, 0);
    opacity: 0.8;
    transition: color 0.3s ease;
    z-index: 10;
    margin-top: 45%;
}

/* botão esquerdo */
.swiper-button-prev {
    color: white;
}

/* botão esquerdo quando a classe 'black' é adicionada */
.swiper-button-prev.black {
    color: black;
}