body {
    position: relative;
    width: 100%;
    height: 4320px;
    background: #000000;
    border-radius: 0px 0px 150px 150px;

    padding: 0%;
}

.linha-nav {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 3.3rem;

    border: 1px solid #46494C;
}

.inicio {
    position: relative;
    width: 100%;
    height: 1150px;

    background: #f3f0cd;
    border-radius: 0px 0px 10px 10px;
}


h1 {
    position: absolute;
    left: 13rem;
    right: 79.53%;
    top: 15rem;
    bottom: 71.24%;

    font-family: 'Noto Sans Bengali';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 0px;
    color: #46494C;
}

.mao {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 300px;
    top: 13rem;
}

p {
    position: absolute;
    max-width: 1330px;
    height: 130px;
    left: 13rem;
    top: 17rem;

    font-family: 'Noto Sans Bengali';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 38px;
    color: #46494C;
}

.estrela001 {
    position: absolute;
    width: 52px;
    height: 52px;
    left: 44.5rem;
    top: 19.2rem;

}

.fundo-nav {
    position: absolute;
    width: 96%;
    height: 42px;
    top: 0.3rem;
    left: 3%;

    background: #0E0E13;
    border-radius: 26px;
}


.star-nav {
    box-sizing: border-box;

    position: absolute;
    width: 17px;
    height: 21px;
    top: -0.1rem;
    left: 95%;
}

.button-contato {
    position: absolute;
    width: 103.28px;
    height: 20px;
    top: 1rem;
    left: 90%;

    font-family: 'Shrikhand';
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 20px;
    background: none;
    color: #f3f0cd;

    border: none;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.bola {
    box-sizing: border-box;

    position: absolute;
    width: 21px;
    height: 20px;
    top: 1rem;
    left: 88%;
    border-radius: 100%;

    border: 2px solid #f3f0cd;
}

.button-trabalhos {
    position: absolute;
    width: 139px;
    height: 20px;
    top: 1rem;
    right: 270px;

    font-family: 'Shrikhand';
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 20px;
    /* identical to box height, or 83% */

    display: flex;
    align-items: center;
    text-align: center;
    background: none;
    border: none;

    color: #f3f0cd;
    cursor: pointer;
}

.bola02 {
    box-sizing: border-box;

    position: absolute;
    width: 21px;
    height: 20px;
    top: 1rem;
    left: 78%;
    border-radius: 100%;

    border: 2px solid #f3f0cd;
}

.button-sobre {
    position: absolute;
    width: 140.36px;
    height: 20px;
    top: 1rem;
    left: 70%;

    font-family: 'Shrikhand';
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 20px;
    /* identical to box height, or 83% */

    display: flex;
    align-items: center;
    text-align: center;

    border: none;
    background: none;
    color: #f3f0cd;
    cursor: pointer;
}

.DM {
    position: absolute;
    left: 8%;
    top: 0.6rem;
    cursor: pointer;
}

.gitHub-button {
    position: absolute;
    width: 100px;
    height: 3rem;
    left: 13rem;
    top: 22rem;

    background: #C9EEE2;
    border-radius: 12px;
    border: none;

    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 0px;
    /* or 312% */

    color: #004375;
    cursor: pointer;
}

.email-button {
    position: absolute;
    width: 100px;
    height: 3rem;
    left: 20rem;
    top: 22rem;

    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 0px;

    background: #C9EEE2;
    border-radius: 12px;
    border: none;

    color: #004375;
    cursor: pointer;
}

.cv-button {
    position: absolute;
    width: 100px;
    height: 3rem;
    left: 27rem;
    top: 22rem;

    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 0px;


    color: #004375;
    cursor: pointer;
    background: #C9EEE2;
    border-radius: 12px;
    border: none;

}

.linha-main {
    position: absolute;
    width: 84%;
    ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 6%;
    top: 41rem;

    border: 2px solid #242632;
    border-radius: 100px;
}

.star-main {
    position: absolute;
    width: 119px;
    height: 100px;
    left: 46.5%;
    top: 38.2rem;
}

.sou-main {
    position: absolute;
    width: 60rem;
    height: 324px;
    left: 26%;
    top: 48rem;
    text-align: center;

    font-family: 'Noto Sans Bengali';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 32px;
    color: #46494C;
}

.img-main {
    position: absolute;
    max-width: 408px;
    height: 67px;
    left: 39.5%;
    top: 59rem;
}

.trabalhos-main {
    position: absolute;
    max-width: 1015.75px;
    height: 54px;
    left: 30%;
    top: 27%;

    font-family: 'Noto Sans Bengali';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 54px;
    /* identical to box height, or 129% */

    text-align: center;

    color: #FFFFFF;
}

.fundo-main-spece {
    position: absolute;
    width: 100%;
    height: 388px;
    top: 84rem;

}

.card01-ft {
    position: absolute;
    width: 978px;
    height: 648px;
    left: 2%;
    top: 27%;
}

.txt-card01 {
    position: absolute;
    width: 812px;
    height: 60px;
    left: 10%;
    top: 40%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    display: flex;
    align-items: center;

    color: #000000;
}

.em-breve {
    position: absolute;
    width: 82px;
    height: 37px;
    top: 29.2%;
    left: 6.6%;

    font-family: 'Shrikhand';
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 20px;


    display: flex;
    align-items: center;
    text-align: center;

    color: #507759;
}

.card02-ft {
    position: absolute;
    width: 840px;
    height: 540px;
    left: 50%;
    top: 29.5%;
}

.txt-card02 {
    position: absolute;
    width: 780px;
    height: 40px;
    left: 52%;
    top: 40%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;

    display: flex;
    align-items: center;

    color: #000000;
}

.SuperMario {
    position: absolute;
    width: 210px;
    height: 20px;
    top: 30%;
    left: 66%;

    font-family: 'Shrikhand';
    font-style: italic;
    font-weight: 400;
    font-size: 33px;
    line-height: 28px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #507759;

    -webkit-text-stroke-color: #162E1B;
    -webkit-text-stroke-width: 0.6px;

}